
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=pull-center">
  <title>Mission to Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>


<body>
    <div class="container text-center">
      <h1 class="jumbotron">Mission to Mars Data </h1>
      <p><a class="btn btn-primary btn-lg" href="http://127.0.0.1:5000/scrape" role="button">Scrape New Data</a></p>
    </div>
<!-- Scraped data -->
    <div class= "row">
      <div class = "col-md-12">
        <h3 class= "heading"><b> Latest Mars News</b></h3>
          <br>
        <p>{{mars_outputs.news_date}}
          <br>
          <i><b>{{mars_outputs.title_results}}</i></b>
          <br>
          {{mars_outputs.paragraph}}</p>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-8">
        <div class= "content_title">
          <h3 ><b>Featured Mars Image</b></h3>
            <br>
            </div>
            <a href= {{mars_outputs.featured_image_url}}>
              <img width= 620 src= {{mars_outputs.featured_image_url}} class= "pull-center">
            </a>
            </div>
        <div class= "col-md-4">
           <h3 style= "border: 0.5px solid#000; padding:-1%"><b> Current Weather on Mars</b>
           <br>
           <p>{{mars_outputs.mars_weather}}
           <br>
           </h3>
           <br>
           <h3><b> Mars Facts</b></h3>

               <table border="1" class="dataframe">
    <thead>
      <tr style="text-align: right;">
        <th></th>
        <th>value</th>
      </tr>
      <tr>
        <th>description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Equatorial Diameter:</th>
        <td>6,792 km</td>
      </tr>
      <tr>
        <th>Polar Diameter:</th>
        <td>6,752 km</td>
      </tr>
      <tr>
        <th>Mass:</th>
        <td>6.42 x 10^23 kg (10.7% Earth)</td>
      </tr>
      <tr>
        <th>Moons:</th>
        <td>2 (Phobos &amp; Deimos)</td>
      </tr>
      <tr>
        <th>Orbit Distance:</th>
        <td>227,943,824 km (1.52 AU)</td>
      </tr>
      <tr>
        <th>Orbit Period:</th>
        <td>687 days (1.9 years)</td>
      </tr>
      <tr>
        <th>Surface Temperature:</th>
        <td>-153 to 20 °C</td>
      </tr>
      <tr>
        <th>First Record:</th>
        <td>2nd millennium BC</td>
      </tr>
      <tr>
        <th>Recorded By:</th>
        <td>Egyptian astronomers</td>
      </tr>
    </tbody>
           </table>
          </p>
        </div>
     </div>
     <br>
     <br>
     <div class = "row">
       <div class = "col-md-12">
         <h3 aling="center"><b>Mars Hemispheres</b></h3>
       </div>
     </div>
     <div class ="row">
       <div class= "col-md-6">
         <p aling= "center"; style= "padding: 2%">
           <a href= {{data_outputs.hemisphere_dict[0].url}}>
             <img width=500 src= {{mars_outputs.hemisphere_dic[0].url}}>
           </a>
           <div calss= "content_title"; aling= "center">
             <h4><b>{{mars_outputs.hemisphere_dict[0].title}}</b></h4>
           </div>
         </p>
       </div>
       <div class= "col-md-6">
          <p aling= "center"; style= "padding: 2%">
            <a href= {{data_outputs.hemisphere_dict[1].url}}>
              <img width=500 src= {{mars_outputs.hemisphere_dic[1].url}}>
            </a>
            <div calss= "content_title"; aling= "center">
              <h4><b>{{mars_outputs.hemisphere_dict[1].title}}</b></h4>
            </div>
           </p>
        </div>
     </div>
    <div class= "col-md-6">
        <p aling= "center"; style= "padding: 2%">
          <a href= {{data_outputs.hemisphere_dict[2].url}}>
            <img width=500 src= {{mars_outputs.hemisphere_dic[2].url}}>
          </a>
          <div calss= "content_title"; aling= "center">
            <h4><b>{{mars_outputs.hemisphere_dict[2].title}}</b></h4>
          </div>
        </p>
      <div class= "col-md-6">
        <p aling= "center"; style= "padding: 2%">
             <a href= {{data_outputs.hemisphere_dict[3].url}}>
              <img width=500 src= {{mars_outputs.hemisphere_dic[3].url}}>
              </a>
              <div calss= "content_title"; aling= "center">
                <h4><b>{{mars_outputs.hemisphere_dict[3].title}}</b></h4>
              </div>
        </p>
      </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>

</html>
